{% extends "./base.html" %}

{% block title %}Win Percentage Results{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">

      <div class="header">
        <h4 class="title">Teams</h4>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>Team</th>
            <th>Home Win-Rate Percentage</th>
          </thead>
          <tbody>
            <!--List all players who play in this team-->
            {% for team in teams %}
            <tr>
              <td><a href="/team/{{ team.team_id }}/" />{{ team.team_name }}</td>
              <td>{{ team.cnt }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
